<div
  class="flex flex-row gap-2 p-1 rounded-lg text-gray-500 bg-gray-100 shadow-md">
  <button
    (click)="changeMode(Mode.Hand)"
    [ngClass]="{
      'tool-button-selected': mode === Mode.Hand,
    }"
    class="tool-button">
    <i class="fa-solid fa-hand"></i>
  </button>
  <button
    (click)="changeMode(Mode.Select)"
    [ngClass]="{
      'tool-button-selected': mode === Mode.Select,
    }"
    class="tool-button">
    <i class="fa-solid fa-arrow-pointer"></i>
  </button>
  <button
    (click)="changeMode(Mode.Pen)"
    [ngClass]="{
      'tool-button-selected': mode === Mode.Pen,
    }"
    class="tool-button">
    <i class="fa-solid fa-pen"></i>
  </button>
  <button
    (click)="changeMode(Mode.FilledRect)"
    [ngClass]="{
      'tool-button-selected': mode === Mode.FilledRect,
    }"
    class="tool-button">
    <i class="fa-solid fa-square"></i>
  </button>
  <button
    (click)="changeMode(Mode.StrokedRect)"
    [ngClass]="{
      'tool-button-selected': mode === Mode.StrokedRect,
    }"
    class="tool-button">
    <i class="fa-regular fa-square"></i>
  </button>
  <button
    (click)="changeMode(Mode.Text)"
    [ngClass]="{
      'tool-button-selected': mode === Mode.Text,
    }"
    class="tool-button">
    <i class="fa-solid fa-font"></i>
  </button>
</div>
