<!-- eslint-disable @angular-eslint/template/elements-content -->
<div
  id="quill-toolbar"
  class="flex space-x-2 bg-gray-100 p-2 rounded-xl !border-0 w-fit">
  <select class="ql-color"></select>
  <select class="ql-background"></select>
  <button class="ql-bold"></button>
  <button class="ql-italic"></button>
  <button class="ql-underline"></button>
  <select class="ql-header"></select>
  <button class="ql-list" value="ordered"></button>
  <button class="ql-list" value="bullet"></button>
  <button class="ql-link"></button>
  <button class="ql-image"></button>
</div>
