<div class="bg-gray-100 p-4 flex flex-col rounded-lg gap-2" [hidden]="!visible">
  @if (style[StyleName.Color] !== undefined) {
    <div>
      <div class="text-md pb-0.5">Color</div>
      <div class="flex flex-row gap-1">
        @for (color of colors; track $index) {
          <div
            (click)="changeStyle({ name: StyleName.Color, value: color })"
            tabindex="0"
            [ngClass]="{
              'border-2 border-gray-100 outline-2 outline-blue-600':
                color === style[StyleName.Color],
            }"
            [style.background-color]="color"
            class="w-10 h-10 rounded-2xl"></div>
        }
      </div>
    </div>
  }
  @if (style[StyleName.LineWidth] !== undefined) {
    <div>
      <div class="text-md pb-0.5">Line Width</div>
      <div class="flex flex-row gap-1 pb-1">
        @for (lineWidth of lineWidths; track $index) {
          <div
            (click)="
              changeStyle({ name: StyleName.LineWidth, value: lineWidth })
            "
            tabindex="0"
            [ngClass]="{
              'border-2 border-gray-100 outline-2 outline-blue-600':
                lineWidth === style[StyleName.LineWidth],
            }"
            class="w-10 h-10 rounded-2xl bg-white flex justify-center items-center">
            <div
              class="rounded-xl bg-black"
              [style.width.px]="($index + 1) * 6"
              [style.height.px]="($index + 1) * 6"></div>
          </div>
        }
      </div>
    </div>
  }
  @if (style[StyleName.LineCap] !== undefined) {
    <div>
      <div class="text-md pb-0.5">Line Cap</div>
      <div class="flex flex-row gap-1 pb-1">
        @for (lineCap of lineCaps; track $index) {
          <div
            (click)="changeStyle({ name: StyleName.LineCap, value: lineCap })"
            tabindex="0"
            [ngClass]="{
              'border-2 border-gray-100 outline-2 outline-blue-600':
                lineCap === style[StyleName.LineCap],
            }"
            class="w-10 h-10 rounded-2xl bg-white flex justify-center items-center">
            @if (lineCap === 'round') {
              <div class="rounded-xl bg-black w-4 h-4"></div>
            } @else if (lineCap === 'square') {
              <div class="bg-black w-4 h-4"></div>
            }
          </div>
        }
      </div>
    </div>
  }
  @if (style[StyleName.Opacity] !== undefined) {
    <div>
      <div class="text-md pb-0.5">Opacity</div>
      <input
        #opacityslider
        type="range"
        min="0"
        max="255"
        [value]="style[StyleName.Opacity]"
        (input)="
          changeStyle({ name: StyleName.Opacity, value: +opacityslider.value })
        " />
    </div>
  }
</div>
