<div class="menu bg-base-200 rounded-box w-56 shadow-md">
  <ul>
    <li tabindex="0" (click)="removeShape.emit()">
      <button>Remove</button>
    </li>
    <li tabindex="0" (click)="copyShape.emit()">
      <button>Copy</button>
    </li>
    <li tabindex="0" (click)="pasteShape.emit()">
      <button>Paste</button>
    </li>
    <li tabindex="0" (click)="duplicateShape.emit()">
      <button>Duplicate</button>
    </li>
    @if (isMultiShape()) {
      <li tabindex="0" (click)="groupShapes.emit()">
        <button>Group</button>
      </li>
    }
    @if (isGroup()) {
      <li tabindex="0" (click)="splitGroupShape.emit()">
        <button>Split Group</button>
      </li>
    }
  </ul>
</div>
