<div class="bg-gray-100 shadow-md w-xs rounded-lg p-2">
  <ul>
    <li class="item" tabindex="0" (click)="removeShape.emit()">
      <button>Remove</button>
    </li>
    <li class="item" tabindex="0" (click)="copyShape.emit()">
      <button>Copy</button>
    </li>
    <li class="item" tabindex="0" (click)="pasteShape.emit()">
      <button>Paste</button>
    </li>
    <li class="item" tabindex="0" (click)="duplicateShape.emit()">
      <button>Duplicate</button>
    </li>
    @if (isMultiShape()) {
      <li class="item" tabindex="0" (click)="groupShapes.emit()">
        <button>Group</button>
      </li>
    }
    @if (isGroup()) {
      <li class="item" tabindex="0" (click)="splitGroupShape.emit()">
        <button>Split Group</button>
      </li>
    }
  </ul>
</div>
